html {
    margin: 0%;
    padding: 0%;

}

.imgBanner {
    border-radius: 100%;
    height: auto;
    max-width: 5rem;
    display: flex;
    justify-content: flex-start;
}

.newExpansion {
    display: grid;
    justify-content: center;

}

.description {
    display: grid;
    justify-content: center;

}

.expansions {
    display: grid;

}

.textExpansions {
    display: grid;
    grid-row-start: auto;
}

footer {
    background-color: black;
    display: grid;
}

.copy {
    display: grid;
    color: white;
    justify-content: center;
}



.price {
    color: black;
    justify-content: center;
    display: flex;

}

.decks {
    max-width: 600px;
    min-width: 400px;

}

.decksPrice {
    width: 25%;
    height: 75%;
    display: flex;
    justify-content: center;
    border: 5rem;
    color: black;
}

.cardsPrice {
    display: grid;
    justify-content: center;
    padding: 2px;
    width: 25%;
    height: 75%;
}

.cardsImg {
    display: grid;
    width: 50%;
    height: 50%;
    max-width: 900px;
    min-width: 400px;
}

.deckBox {
    display: grid;

}


@media (max-width: 900px) {
    .newExpansion a img {
        justify-content: center;
    }

    .lastExpansion img {
        max-width: 100%;
        justify-content: left;
    }

    .expansions img {
        max-width: 100%;
        justify-content: start;
    }

    .cardsImg img p {
        max-width: 100%;
        justify-content: center;
    }

    .decks img p {
        max-width: 100%;
        justify-content: center;
    }

    .deckBox img p {
        max-width: 100%;
        justify-content: center;
    }

    .accesories img p {
        max-width: 100%;
        display: grid;
        justify-content: center;
    }


}

@media (min-width: 390px) {
    .newExpansion a img {
        max-width: 100%;
        justify-content: center;

    }

    .lastExpansion img {
        max-width: 100%;
        justify-content: left;
    }

    .expansions img p {
        max-width: 100%;
        justify-content: center;
    }

    .cardsImg img p {
        max-width: 100%;
        justify-content: center;
    }

    .decks img p {
        max-width: 100%;
        justify-content: center;
    }

    .deckBox img p {
        max-width: 100%;
        justify-content: center;
    }

    .accesories img p {
        max-width: 100%;
        display: grid;
        justify-content: center;
    }

}

@media (max-width: 800px) {
    .newExpansion a img {
        justify-content: center;
    }

    .lastExpansion img {
        max-width: 100%;
        justify-content: left;
    }

    .expansions img p {
        max-width: 100%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .cardsImg img p {
        max-width: 100%;
        justify-content: center;
    }

    .decks img p {
        max-width: 100%;
        justify-content: center;
    }

    .deckBox img p {
        max-width: 100%;
        justify-content: center;
    }

    .accesories img p {
        max-width: 100%;
        display: grid;
        justify-content: center;
    }


}

@media (min-width: 600px) {
    .newExpansion a img {
        max-width: 100%;
        justify-content: center;

    }

    .lastExpansion img {
        max-width: 100%;
        justify-content: left;
    }

    .expansions img p {
        max-width: 100%;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .cardsImg img p {
        max-width: 100%;
        justify-content: center;
    }

    .decks img p {
        max-width: 100%;
        justify-content: center;
    }

    .deckBox img p {
        max-width: 100%;
        justify-content: center;
    }

    .accesories img p {
        max-width: 100%;
        display: grid;
        justify-content: center;
    }

}

@media (max-width: 1707.33px) {
    .newExpansion a img {
        justify-content: center;
    }

    .lastExpansion img {
        max-width: 100%;
        justify-content: left;
    }

    .expansions img p {
        max-width: 100%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .cardsImg img p {
        max-width: 100%;
        justify-content: center;
    }

    .decks img p {
        max-width: 100%;
        justify-content: center;
    }

    .deckBox img p {
        max-width: 100%;
        justify-content: center;
    }

    .accesories img p {
        max-width: 100%;
        display: grid;
        justify-content: center;
    }


}

@media (min-width: 733.33px) {
    .newExpansion a img {
        max-width: 100%;
        justify-content: center;

    }

    .lastExpansion img {
        max-width: 100%;
        justify-content: left;
    }

    .expansions img p {
        max-width: 100%;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .cardsImg img p {
        max-width: 100%;
        justify-content: center;
    }

    .decks img p {
        max-width: 100%;
        justify-content: center;
    }

    .deckBox img p {
        max-width: 100%;
        justify-content: center;
    }

    .accesories img p {
        max-width: 100%;
        display: grid;
        justify-content: center;
    }

}