/* tablet */

@media (max-width: 767px) {
    .newExpansion a img {
        justify-content: center;
        padding: 2, 5px;
        max-width: 80%;
    }

    .lastExpansion img {
        max-width: 80%;
        justify-content: left;
    }

    .expansions img {
        max-width: 80%;
        justify-content: start;
    }

    .cardsImg>img {
        max-width: 80%;
        justify-content: center;
    }

    .decks>img {
        max-width: 80%;
        justify-content: center;
    }

    .deckBox img p {
        max-width: 80%;
        justify-content: center;
    }

    .accesories img p {
        max-width: 80%;
        display: grid;
        justify-content: center;
    }
}

@media (min-width: 481px) {
    .newExpansion a img {
        max-width: 80%;
        justify-content: center;
        padding: 2, 5px;
    }

    .lastExpansion img {
        max-width: 100%;
        justify-content: left;
    }

    .expansions img p {
        max-width: 80%;
        justify-content: center;
    }

    .cardsImg img p {
        max-width: 80%;
        justify-content: center;
    }

    .decks img p {
        max-width: 80%;
        justify-content: center;
        display: grid;
    }

    .deckBox img p {
        max-width: 80%;
        justify-content: center;
        display: grid;
    }

    .accesories img p {
        max-width: 80%;
        display: grid;
        justify-content: center;
    }
}

/* mobile */

@media (max-width: 480px) {
    .newExpansion a img {
        justify-content: center;
        padding: 2, 5px;
    }

    .lastExpansion img {
        max-width: 100%;
        justify-content: left;
    }

    .expansions img p {
        max-width: 80%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .cardsImg>img {
        max-width: 80%;
        justify-content: center;
    }

    .decks>img {
        max-width: 80%;
        justify-content: center;
    }

    .deckBox img p {
        max-width: 80%;
        justify-content: center;
    }

    .accesories img p {
        max-width: 80%;
        display: grid;
        justify-content: center;
    }
}

@media (min-width: 320px) {
    .newExpansion a img {
        max-width: 100%;
        justify-content: center;
        padding: 2, 5px;
    }

    .lastExpansion img {
        max-width: 100%;
        justify-content: left;
    }

    .expansions img p {
        max-width: 100%;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .cardsImg img p {
        max-width: 80%;
        justify-content: center;
    }

    .decks img p {
        max-width: 80%;
        justify-content: center;
    }

    .deckBox img p {
        max-width: 80%;
        justify-content: center;
    }

    .accesories img p {
        max-width: 80%;
        display: grid;
        justify-content: center;
    }
}

/* desktop */

@media (max-width: 1707.33px) {
    .newExpansion a img {
        justify-content: center;
        padding: 2, 5px;
    }

    .lastExpansion img {
        max-width: 80%;
        justify-content: left;
    }

    .expansions img p {
        max-width: 80%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardsImg>img {
        max-width: 29%;
        justify-content: center;
    }

    .decks>img {
        max-width: 29%;
        justify-content: center;
    }

    .deckBox>img {
        max-width: 70%;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 10px;
        margin-top: 10px;
    }

    .accesories>img {
        max-width: 80%;
        display: grid;
        justify-content: center;
    }
}

@media (min-width: 733.33px) {
    .newExpansion a img {
        max-width: 100%;
        justify-content: center;
        padding: 2, 5px;
    }

    .lastExpansion img {
        max-width: 80%;
        justify-content: left;
    }

    .expansions img p {
        max-width: 80%;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .cardsImg img p {
        max-width: 10%;
        justify-content: center;
    }

    .decks img p {
        max-width: 10%;
        justify-content: center;
    }

    .deckBox img p {
        max-width: 80%;
        justify-content: center;
    }

    .accesories img p {
        max-width: 30%;
        display: grid;
        justify-content: center;
    }
}