@media (max-width: 900px) {
    .newExpansion a img {
        justify-content: center;
        padding: 2, 5px;
    }

    .lastExpansion img {
        max-width: 100%;
        justify-content: left;
    }

    .expansions img {
        max-width: 100%;
        justify-content: start;
    }

    .cardsImg img p {
        max-width: 100%;
        justify-content: center;
    }

    .decks img p {
        max-width: 100%;
        justify-content: center;
    }

    .deckBox img p {
        max-width: 100%;
        justify-content: center;
    }

    .accesories img p {
        max-width: 100%;
        display: grid;
        justify-content: center;
    }
}

@media (min-width: 390px) {
    .newExpansion a img {
        max-width: 100%;
        justify-content: center;
        padding: 2, 5px;
    }

    .lastExpansion img {
        max-width: 100%;
        justify-content: left;
    }

    .expansions img p {
        max-width: 100%;
        justify-content: center;
    }

    .cardsImg img p {
        max-width: 100%;
        justify-content: center;
    }

    .decks img p {
        max-width: 100%;
        justify-content: center;
    }

    .deckBox img p {
        max-width: 100%;
        justify-content: center;
    }

    .accesories img p {
        max-width: 100%;
        display: grid;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .newExpansion a img {
        justify-content: center;
        padding: 2, 5px;
    }

    .lastExpansion img {
        max-width: 100%;
        justify-content: left;
    }

    .expansions img p {
        max-width: 100%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .cardsImg img p {
        max-width: 100%;
        justify-content: center;
    }

    .decks img p {
        max-width: 100%;
        justify-content: center;
    }

    .deckBox img p {
        max-width: 100%;
        justify-content: center;
    }

    .accesories img p {
        max-width: 100%;
        display: grid;
        justify-content: center;
    }
}

@media (min-width: 600px) {
    .newExpansion a img {
        max-width: 100%;
        justify-content: center;
        padding: 2, 5px;
    }

    .lastExpansion img {
        max-width: 100%;
        justify-content: left;
    }

    .expansions img p {
        max-width: 100%;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .cardsImg img p {
        max-width: 100%;
        justify-content: center;
    }

    .decks img p {
        max-width: 100%;
        justify-content: center;
    }

    .deckBox img p {
        max-width: 100%;
        justify-content: center;
    }

    .accesories img p {
        max-width: 100%;
        display: grid;
        justify-content: center;
    }
}

@media (max-width: 1707.33px) {
    .newExpansion a img {
        justify-content: center;
        padding: 2, 5px;
    }

    .lastExpansion img {
        max-width: 100%;
        justify-content: left;
    }

    .expansions img p {
        max-width: 100%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .cardsImg img p {
        max-width: 100%;
        justify-content: center;
    }

    .decks img p {
        max-width: 100%;
        justify-content: center;
    }

    .deckBox img p {
        max-width: 100%;
        justify-content: center;
    }

    .accesories img p {
        max-width: 100%;
        display: grid;
        justify-content: center;
    }
}

@media (min-width: 733.33px) {
    .newExpansion a img {
        max-width: 100%;
        justify-content: center;
        padding: 2, 5px;
    }

    .lastExpansion img {
        max-width: 100%;
        justify-content: left;
    }

    .expansions img p {
        max-width: 100%;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .cardsImg img p {
        max-width: 100%;
        justify-content: center;
    }

    .decks img p {
        max-width: 100%;
        justify-content: center;
    }

    .deckBox img p {
        max-width: 100%;
        justify-content: center;
    }

    .accesories img p {
        max-width: 100%;
        display: grid;
        justify-content: center;
    }
}