html {
  margin: 0%;
  padding: 0%;
}

.imgBanner {
  border-radius: 100%;
  height: auto;
  max-width: 5rem;
  display: flex;
  justify-content: flex-start;
}

.newExpansion {
  display: grid;
  justify-content: center;
  padding: 5px;
}

.description {
  display: grid;
  justify-content: center;
}

.expansions {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: baseline;
  padding: 5px;
}

.textExpansions {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
}

footer {
  background-color: black;
  display: flex;
}

.copy {
  color: white;
  display: flex;
  align-items: center;
}

.price {
  color: black;
  justify-content: center;
  display: flex;
}

.decks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.decksPrice {
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  color: black;
}

.cardsPrice {
  display: grid;
  justify-content: start;
  padding: 10px;
}

.img1 {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.deckBox {
  display: flex;
}

.lastExpansion {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.accesories {
  display: flex;
  padding: 10px;
}

.dprice {
  display: flex;
  padding: 20px;
}

@media (max-width: 767px) {
  .newExpansion a img {
    justify-content: center;
    padding: 2, 5px;
    max-width: 80%;
  }
  .lastExpansion img {
    max-width: 80%;
    justify-content: left;
  }
  .expansions img {
    max-width: 80%;
    justify-content: start;
  }
  .cardsImg img p {
    max-width: 80%;
    justify-content: center;
  }
  .decks img p {
    max-width: 80%;
    justify-content: center;
  }
  .deckBox img p {
    max-width: 80%;
    justify-content: center;
  }
  .accesories img p {
    max-width: 80%;
    display: grid;
    justify-content: center;
  }
}
@media (min-width: 481px) {
  .newExpansion a img {
    max-width: 80%;
    justify-content: center;
    padding: 2, 5px;
  }
  .lastExpansion img {
    max-width: 100%;
    justify-content: left;
  }
  .expansions img p {
    max-width: 80%;
    justify-content: center;
  }
  .cardsImg img p {
    max-width: 80%;
    justify-content: center;
  }
  .decks img p {
    max-width: 80%;
    justify-content: center;
    display: grid;
  }
  .deckBox img p {
    max-width: 80%;
    justify-content: center;
    display: grid;
  }
  .accesories img p {
    max-width: 80%;
    display: grid;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .newExpansion a img {
    justify-content: center;
    padding: 2, 5px;
  }
  .lastExpansion img {
    max-width: 100%;
    justify-content: left;
  }
  .expansions img p {
    max-width: 80%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .cardsImg img p {
    max-width: 80%;
    justify-content: center;
  }
  .decks img p {
    max-width: 80%;
    justify-content: center;
  }
  .deckBox img p {
    max-width: 80%;
    justify-content: center;
  }
  .accesories img p {
    max-width: 80%;
    display: grid;
    justify-content: center;
  }
}
@media (min-width: 320px) {
  .newExpansion a img {
    max-width: 100%;
    justify-content: center;
    padding: 2, 5px;
  }
  .lastExpansion img {
    max-width: 100%;
    justify-content: left;
  }
  .expansions img p {
    max-width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .cardsImg img p {
    max-width: 80%;
    justify-content: center;
  }
  .decks img p {
    max-width: 80%;
    justify-content: center;
  }
  .deckBox img p {
    max-width: 80%;
    justify-content: center;
  }
  .accesories img p {
    max-width: 80%;
    display: grid;
    justify-content: center;
  }
}
@media (max-width: 1707.33px) {
  .newExpansion a img {
    justify-content: center;
    padding: 2, 5px;
  }
  .lastExpansion img {
    max-width: 80%;
    justify-content: left;
  }
  .expansions img p {
    max-width: 80%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cardsImg > img {
    max-width: 10%;
    justify-content: center;
  }
  .decks > img {
    max-width: 10%;
    justify-content: center;
  }
  .deckBox img p {
    max-width: 40%;
    justify-content: center;
  }
  .accesories img p {
    max-width: 50%;
    display: grid;
    justify-content: center;
  }
}
@media (min-width: 733.33px) {
  .newExpansion a img {
    max-width: 100%;
    justify-content: center;
    padding: 2, 5px;
  }
  .lastExpansion img {
    max-width: 80%;
    justify-content: left;
  }
  .expansions img p {
    max-width: 80%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .cardsImg img p {
    max-width: 10%;
    justify-content: center;
  }
  .decks img p {
    max-width: 10%;
    justify-content: center;
  }
  .deckBox img p {
    max-width: 80%;
    justify-content: center;
  }
  .accesories img p {
    max-width: 30%;
    display: grid;
    justify-content: center;
  }
}

/*# sourceMappingURL=main.css.map */
